.home__grid {
  display: grid;
  margin-top: 20%;
  grid-template-rows: repeat(2, 1fr);
}
.home__grid__header {
  font-size: 4rem;
  text-align: center;
  margin: 0;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Fetch Weather Form*/
.home__form__grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  grid-gap: 10px;
}
.home__form__grid input[type="text"] {
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
}
.home__form__grid button {
  padding: 10px;
  width: 100%;
}

/*Weather page form grid*/
.weather__form__grid {
  margin: 5% 0 0 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
}
.weather__form__grid input[type="text"] {
  grid-column: 1 / 9;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
}
.weather__form__grid a {
  grid-column: 10 / 13;
}
.weather__form__grid a button {
  padding: 10px;
}

.displayWeatherGrid {
  margin: 15% 0 0 0;
}
.displayWeatherGrid__location,
.displayWeatherGrid__temperature,
.displayWeatherGrid__weather {
  display: flex;
  align-items: center;
  justify-content: center;
}
.displayWeatherGrid__location {
}
.displayWeatherGrid__location h2 {
  font-size: 2.5rem;
  margin: 0;
}

.displayWeatherGrid__temperature {
  flex-direction: column;
}
.displayWeatherGrid__temperature h3 {
  font-size: 1.5rem;
}
.displayWeatherGrid__temperature section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  font-size: 0.9rem;
  font-weight: bold;
}
@media only screen and (min-width: 641px) {
  .container {
    width: 75%;
  }
  .home__form__grid {
    grid-template-columns: repeat(12, 1fr);
  }
  .home__form__grid input[type="text"] {
    grid-column: 2 / 11;
  }
}

@media only screen and (min-width: 768px) {
  .weather__form__grid input[type="text"] {
    grid-column: 1 / 9;
  }
  .weather__form__grid a {
    grid-column: 10 / 13;
  }

  .displayWeatherGrid {
    margin: 10% 0 0 0;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 60%;
  }
  .home__form__grid {
    grid-template-columns: repeat(12, 1fr);
  }
  .home__form__grid input[type="text"] {
    grid-column: 2 / 11;
  }

  .weather__form__grid {
    margin: 2.5% 0 0 0;
  }
  .weather__form__grid input[type="text"] {
    grid-column: 3 / 9;
  }
  .weather__form__grid a {
    grid-column: 10 / 11;
  }

  .displayWeatherGrid {
    margin: 10% 0 0 0;
  }
}
