.container {
  width: 80%;
  margin: auto;
}
.grid {
  display: grid;
  margin-top: 20%;
  grid-template-rows: repeat(2, 1fr);
}
.grid__header {
  font-size: 4rem;
  text-align: center;
  margin: 0;
}
.main__form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid__form {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  grid-gap: 10px;
}
.grid__form input[type="text"] {
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
}
.grid__form button {
  padding: 10px;
}
@media only screen and (min-width: 641px) {
  .container {
    width: 75%;
  }
  .grid__form {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid__form input[type="text"] {
    grid-column: 2 / 11;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 60%;
  }
  .grid__form {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid__form input[type="text"] {
    grid-column: 2 / 11;
  }
}
