.form__grid {
  display: grid;
  grid-template-rows: auto auto;
  width: 100%;
  gap: 10px;
}
.form__grid a {
  text-decoration: underline;
  width: 100%;
}
.city__input {
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
}
.weather__button {
  padding: 10px;
  width: 100%;
}
.weather__button:hover {
  cursor: pointer;
}

@media only screen and (min-width: 641px) {
  .form__grid {
    grid-template-columns: calc(85% - 10px) calc(15% - 10px);
  }
}

@media only screen and (min-width: 768px) {
  .form__grid {
    grid-template-columns: calc(82.5% - 10px) calc(17.5% - 10px);
  }
}
@media only screen and (min-width: 1024px) {
  .form__grid {
    grid-template-columns: calc(80% - 10px) calc(20% - 10px);
  }
}
