.home__grid,
.account__container {
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
  margin: 20% auto 0 auto;
}
.home__grid__header {
  font-size: 4rem;
  text-align: center;
  margin: 0;
}
/*Fetch Weather Form*/
.home__form__grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  grid-gap: 10px;
}
.home__form__grid input[type="text"],
.account__container__form input {
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
}
.home__form__grid button,
.account__container__form button {
  padding: 10px;
  width: 100%;
}

/*Weather page form grid*/
.weather__form__grid {
  margin: 5% 0 0 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
}
.weather__form__grid input[type="text"] {
  grid-column: 1 / 9;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
}
.weather__form__grid a {
  grid-column: 10 / 13;
}
.weather__form__grid a button {
  padding: 10px;
}

.displayWeatherGrid {
  margin: 15% 0 0 0;
}
.displayWeatherGrid__location,
.displayWeatherGrid__temperature,
.displayWeatherGrid__weather,
.form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.displayWeatherGrid__location h2 {
  font-size: 2.5rem;
  margin: 0;
}

.displayWeatherGrid__temperature {
  flex-direction: column;
}
.displayWeatherGrid__temperature h3 {
  font-size: 1.5rem;
}
.displayWeatherGrid__temperature section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  font-size: 0.9rem;
  font-weight: bold;
}

.home__grid section p,
.display__weather__go__home__link {
  margin: 25px 0 0 0;
  text-align: center;
}
.display__weather__go__home__link p {
  margin: 0;
}

/*Account Page*/

.account__container__header {
  text-align: center;
  font-size: 2rem;
}

.account__container__form {
  display: grid;
  grid-template-rows: 1fr;
  gap: 10px;
}
.account__question__text {
  text-align: center;
}
.account__container__subgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
}

/*Single/Multiple Locations*/
.single__location__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.single__location__grid h2 {
  color: white;
}

@media only screen and (min-width: 641px) {
  .container {
    margin: 0;
  }
  .home__form__grid {
    grid-template-columns: repeat(12, 1fr);
  }
  .home__form__grid input[type="text"] {
    grid-column: 2 / 11;
  }

  .weather__form__grid input[type="text"] {
    grid-column: 3 / 9;
  }
  .weather__form__grid a {
    grid-column: 10 / 13;
  }
}

@media only screen and (min-width: 768px) {
  .home__grid {
    width: 75%;
  }
  .weather__form__grid input[type="text"] {
    grid-column: 3 / 9;
  }
  .weather__form__grid a {
    grid-column: 10 / 13;
  }

  .displayWeatherGrid {
    margin: 10% 0 0 0;
  }
  .account__container {
    width: 75%;
    margin: 20% auto 0 auto;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 60%;
  }
  .home__grid {
    width: 50%;
  }
  .home__form__grid {
    grid-template-columns: repeat(12, 1fr);
  }
  .home__form__grid input[type="text"] {
    grid-column: 2 / 11;
  }

  .weather__form__grid {
    margin: 2.5% 0 0 0;
  }
  .weather__form__grid input[type="text"] {
    grid-column: 3 / 9;
  }
  .weather__form__grid a {
    grid-column: 10 / 11;
  }

  .displayWeatherGrid {
    margin: 10% 0 0 0;
  }
  .account__container {
    width: 50%;
    margin: 10% auto 0 auto;
  }
}
