.weather__container {
  display: grid;
  grid-template-rows: repeat(4, auto);
  margin: 5% auto 0 auto;
  width: 100%;
}
.weather__grid__accountLink__container {
  text-align: center;
}
/*FORM*/
.weather__form__grid {
  display: grid;
  grid-template-columns: calc(75% - 10px) calc(25% - 10px);
  width: 100%;
  gap: 20px;
}
.weather__input {
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
}
.weather__button {
  padding: 10px;
  width: 100%;
}
.weather__button:hover {
  cursor: pointer;
}
/*END FORM*/

.weather__grid__home__container {
  text-align: center;
  margin: 5% 0 0 0;
}

@media only screen and (min-width: 641px) {
  .form__grid {
    grid-template-columns: calc(80% - 10px) calc(20% - 10px);
  }
  .weather__grid {
    width: 75%;
  }
}

@media only screen and (min-width: 768px) {
  .weather__grid {
    width: 70%;
  }
}
@media only screen and (min-width: 1024px) {
  .weather__grid {
    width: 60%;
  }
}
